body{
	margin: 0;
}

/* -------------------------------------------------------------- FLEX CONTAINERS --- */
.container{
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.aligned{
	justify-content: center;
	align-items: center;
}

/* -------------------------------------------------------------- BANNER --- */
#banner{
	width: 100%;
	height: 100vh;
	background-color: #000;
	background-image: url('https://images.alphacoders.com/475/475526.jpg');
	background-size: cover;
	background-position: center;
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.introtext{
	position: absolute;
	top: calc(50% + 170px);
	width: 100%;
	font-family: 'Merriweather';
	font-weight: 300;
	font-style: italic;
	font-size: 0.8em;
	color: #fff;
	text-align: center;
	transition: all 0.3s ease-in-out;
}

.scrollbutton{
	position: absolute;
	top: calc(50% + 250px);
	width: 100%;
	text-align: center;
}

.scrollbutton a{
	font-family: 'Merriweather';
	font-weight: 300;
	font-style: italic;
	font-size: 0.8em;
	color: #fff;
	padding: 20px;
	border-radius: 30px;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}

.scrollbutton a:hover{
	color: #000;
	background-color: #fff;
}

/* -------------------------------------------------------------- HEADER --- */
#header{
	position: relative;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 1);
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}

.title{
	width: 500px;
	justify-content: flex-start;
}

.title a{
	width: 150px;
	height: 70px;
	font-family: 'Merriweather';
	font-weight: 900;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}

.nav{
	width: 500px;
	justify-content: flex-end;
}

.nav a{
	width: 100px;
	height: 70px;
	background-color: transparent;
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 0.8em;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease-in-out;
}

.title a:hover, .nav a:hover{
	color: #000;
	background-color: rgba(255, 255, 255, 1);
}

/* -------------------------------------------------------------- ENTRY --- */
#entry{
	width: 100%;
	height: auto;
	background-color: #fff;
	justify-content: center;
	align-content: flex-start;
}

#contents{
	width: 700px;
	height: calc(300px + 320px*4 + 25px);
	background-color: transparent;
	margin: 70px 0px;
}

/* -------------------------------------------------------------- INTRO --- */
.un{
	width: 700px;
	height: 300px;
	background-color: transparent;
	border-bottom: 1px solid #aaa;
	align-content: center;
	font-family: 'Open Sans', sans-serif;
}

.deux{
	font-family: 'Merriweather', serif;
	font-size: 2.2em;
	font-weight: 900;
}

.trois{
	font-size: 1.2em;
	color: #333;
	line-height: 1.5;
}

.quatre{
	font-weight: 400;
	text-transform: lowercase;
	text-decoration: none;
	color: #49ab81;
	transition: all 0.3s ease-in-out;
}

.quatre:hover{
	color: #000;
}

/* -------------------------------------------------------------- POSTS --- */
.post{
	width: 700px;
	height: 320px;
	background-color: transparent;
	border-bottom: 1px solid #aaa;
}

.ett{
	width: 250px;
	background-color: transparent;
}

.tvaa{
	width: 400px;
	height: 300px;
	padding: 0px 20px;
	margin-left: 10px;
	background-color: transparent;
	align-content: center;
}

.tre{
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
	font-weight: 900;
	text-decoration: none;
	color: #000;
}

.tre:hover{
	color: #49ab81;
}

.fyre{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

.top{
	margin-top: 20px;
}

/* -------------------------------------------------------------- FOOTER --- */
#footer{
	width: 100%;
	height: 70px;
	background-color: #000;
}

.creds{
	width: 500px;
	align-items: center;
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 8pt;
	color: #aaa;
}

.menu{
	width: 500px;
	justify-content: flex-end;
}

.menu a{
	text-decoration: none;
	color: #999;
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 7pt;
	text-transform: uppercase;
	padding: 0px 20px;
}

.menu a:last-child{
	padding-right: 0px;
}

.menu a:hover{
	color: #fff;
	text-decoration: underline;
}
